body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 5% 10%;
  background: rgb(47, 62, 70);
  background: linear-gradient(
    90deg,
    rgba(47, 62, 70, 1) 0%,
    rgba(82, 121, 111, 1) 48%,
    rgba(132, 169, 140, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
